.heroSection4 {
  display: flex;
  column-gap: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  margin-top: 1px;
  padding: 30px;
  max-height: 375px;
  /* min-width: 100px; */
  /* width: 70%; */
}
.heroSection4__hover {
}

.heroSection4__name {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 7px;

  margin-left: 10px;
  margin-right: 10px;
}

.heroSection4__img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 15px;
}
.heroSection4__img:hover {
  /* transform: scale(1.1); */
}
.heroSection4__button {
  margin-top: 5px;
  border: 1px solid black;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300px;
  border-radius: 5px;
  margin-bottom: 50px;
  background-color: transparent;
}
.heroSection4__button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: width 2s height 2s;
  background-color: rgb(255 200 61);
}
.heroSection4__price {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: 400;
  margin-top: -10px;
}
.heroSection4__rating {
  display: flex;
  text-align: center;
  font-weight: 400;
  margin-top: -10px;
  justify-content: center;
}

/* .heroSection4__rating:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: width 2s height 2s;
  box-shadow: 10px 10px 5px grey;
  border-color: 1px solid black;
} */

.heroSection4__hover:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: width 1s height 1s;
  border-radius: 20px;
  background-image: linear-gradient(
    45deg,
    #fafafa00 10%,
    #42fae462 32%,
    #1ef0d773 10%
  );
  /* height: 400px; */
}

/* Custom codes */
.rupees {
  font-family: "Inter";
  color: green;
}
