.title {
  display: flex;
  color: aliceblue;
  text-align: left;
}

.title__Option {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 75px;
  margin-top: 20rem;
  text-align: end; /* this aligns the buttons to end*/
}

.title__headLine {
  font-size: 40px;
  display: flex;
  flex-direction: row-reverse;
}

.title__subLine {
  line-height: 20px;
  letter-spacing: 1px;
}

.title__btn {
  padding: 20px 0px;
}
