.Seller {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.Seller__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.Seller__container {
  width: 95%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.Seller__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.Seller__container > form > h5 {
  margin-bottom: 15px;
}

.Seller__container > form > p {
  margin-bottom: 15px;
  font-size: 12px;
}

.Seller__left > input {
  /* width: 100%; */
  margin-bottom: 15px;
  /* height: %; */
  justify-content: center;
  align-items: center;
  align-self: self-end;
}

.Seller__right > input {
  /* width: 100%; */
  margin-bottom: 15px;
  /* height: %; */
  justify-content: center;
  align-items: center;
  align-self: self-end;
}

.Seller__Btn {
  margin-left: 10px;
}

.Seller__signInBtn {
  /* display: flex; */
  background: lightgray;
  border-radius: 2px;
  width: 20%;
  height: 30px;
  border: 1px solid;
  /* justify-content: end; */
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  margin-bottom: 5px;
}

.Seller__regBtn {
  display: flex;
  border-radius: 2px;
  justify-content: center;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: lightgrey;
}

.Seller__left {
  display: flex;
  padding: 10px;
}

.Seller__left > h5 {
  padding: 10px;
}

.Seller__right {
  display: flex;
  padding: 10px;
}

.Seller__right > h5 {
  padding: 10px;
}
